body {
    background-color: #FAFAFA !important;
}

.g-signin2 {
    margin-left: 45%;
    margin-top: 20%;
}

.success {
    display: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
}

    .success ul {
        background-color: lightgrey;
    }

a {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0px;
}
.bginfo {
    background-color: #141414 !important;
}
.profiledetails {
    display: none;
    color: #c94c4c;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
}

/*.profile {
    float: left;
    margin-top: 3%;
    padding-top: 5px;
}*/

.addressbook {
    display: none;
    color: #c94c4c;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
}



.aboutUs {
    display: none;
    color: #c94c4c;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
}


.g-sign {
    width: 500%;
    height: 500%;
}

.success button {
    background-color: #c94c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.aboutUs {
    display: none;
}

.profiledetails button {
    background-color: #c94c4c;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.aboutUs button {
    background-color: #c94c4c;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.addressbook button {
    background-color: #c94c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.signout {
    margin-top: 3%;
}

.column {
    float: left;
    width: 20%;
    margin-top:5px;
    margin-bottom: 16px;
    padding: 0 8px;
}

.row{
    margin-top:6.3%
}